.glitch-text
  position: relative;
  display block
  font-family monospace
  &:before,
  &:after
    content: attr(data-text);
    position: absolute;
    width 100%
    top: 0;
    color: white;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
  &:before
    left: -2px;
    text-shadow: 1px 0 blue;
    animation: noise-anim-2 1.5s infinite linear alternate-reverse;
  &:after
    left: 2px;
    text-shadow: -1px 0 red;
    animation: noise-anim 1s infinite linear alternate-reverse;
