@keyframes noise-anim {
  0% {
    clip: rect(68px, 9999px, 100px, 0);
  }
  5% {
    clip: rect(83px, 9999px, 80px, 0);
  }
  10% {
    clip: rect(15px, 9999px, 39px, 0);
  }
  15% {
    clip: rect(71px, 9999px, 182px, 0);
  }
  20% {
    clip: rect(22px, 9999px, 152px, 0);
  }
  25% {
    clip: rect(68px, 9999px, 78px, 0);
  }
  30% {
    clip: rect(116px, 9999px, 154px, 0);
  }
  35% {
    clip: rect(100px, 9999px, 104px, 0);
  }
  40% {
    clip: rect(22px, 9999px, 180px, 0);
  }
  45% {
    clip: rect(34px, 9999px, 96px, 0);
  }
  50% {
    clip: rect(36px, 9999px, 188px, 0);
  }
  55% {
    clip: rect(88px, 9999px, 22px, 0);
  }
  60% {
    clip: rect(60px, 9999px, 2px, 0);
  }
  65% {
    clip: rect(36px, 9999px, 34px, 0);
  }
  70% {
    clip: rect(128px, 9999px, 8px, 0);
  }
  75% {
    clip: rect(110px, 9999px, 72px, 0);
  }
  80% {
    clip: rect(148px, 9999px, 128px, 0);
  }
  85% {
    clip: rect(196px, 9999px, 78px, 0);
  }
  90% {
    clip: rect(176px, 9999px, 42px, 0);
  }
  95% {
    clip: rect(22px, 9999px, 142px, 0);
  }
  100% {
    clip: rect(88px, 9999px, 186px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(35px, 9999px, 78px, 0);
  }
  5% {
    clip: rect(35px, 9999px, 30px, 0);
  }
  10% {
    clip: rect(85px, 9999px, 60px, 0);
  }
  15% {
    clip: rect(73px, 9999px, 97px, 0);
  }
  20% {
    clip: rect(58px, 9999px, 56px, 0);
  }
  25% {
    clip: rect(39px, 9999px, 65px, 0);
  }
  30% {
    clip: rect(57px, 9999px, 18px, 0);
  }
  35% {
    clip: rect(60px, 9999px, 1px, 0);
  }
  40% {
    clip: rect(31px, 9999px, 49px, 0);
  }
  45% {
    clip: rect(93px, 9999px, 37px, 0);
  }
  50% {
    clip: rect(44px, 9999px, 43px, 0);
  }
  55% {
    clip: rect(69px, 9999px, 87px, 0);
  }
  60% {
    clip: rect(86px, 9999px, 28px, 0);
  }
  65% {
    clip: rect(93px, 9999px, 86px, 0);
  }
  70% {
    clip: rect(50px, 9999px, 22px, 0);
  }
  75% {
    clip: rect(89px, 9999px, 30px, 0);
  }
  80% {
    clip: rect(42px, 9999px, 3px, 0);
  }
  85% {
    clip: rect(9px, 9999px, 42px, 0);
  }
  90% {
    clip: rect(52px, 9999px, 88px, 0);
  }
  95% {
    clip: rect(77px, 9999px, 49px, 0);
  }
  100% {
    clip: rect(33px, 9999px, 93px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(35px, 9999px, 78px, 0);
  }
  5% {
    clip: rect(35px, 9999px, 30px, 0);
  }
  10% {
    clip: rect(85px, 9999px, 60px, 0);
  }
  15% {
    clip: rect(73px, 9999px, 97px, 0);
  }
  20% {
    clip: rect(58px, 9999px, 56px, 0);
  }
  25% {
    clip: rect(39px, 9999px, 65px, 0);
  }
  30% {
    clip: rect(57px, 9999px, 18px, 0);
  }
  35% {
    clip: rect(60px, 9999px, 1px, 0);
  }
  40% {
    clip: rect(31px, 9999px, 49px, 0);
  }
  45% {
    clip: rect(93px, 9999px, 37px, 0);
  }
  50% {
    clip: rect(44px, 9999px, 43px, 0);
  }
  55% {
    clip: rect(69px, 9999px, 87px, 0);
  }
  60% {
    clip: rect(86px, 9999px, 28px, 0);
  }
  65% {
    clip: rect(93px, 9999px, 86px, 0);
  }
  70% {
    clip: rect(50px, 9999px, 22px, 0);
  }
  75% {
    clip: rect(89px, 9999px, 30px, 0);
  }
  80% {
    clip: rect(42px, 9999px, 3px, 0);
  }
  85% {
    clip: rect(9px, 9999px, 42px, 0);
  }
  90% {
    clip: rect(52px, 9999px, 88px, 0);
  }
  95% {
    clip: rect(77px, 9999px, 49px, 0);
  }
  100% {
    clip: rect(33px, 9999px, 93px, 0);
  }
}
