// ПОМЕНЯТЬ ШРИФТ НА МОНОШИРИННЫЙ

html
  width 100%
  height 100%
body
  display flex
  flex-direction column
  flex-grow 1
  flex-shrink 0
  width 100%
  min-height 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.nav-wrapper
  &__logo
    width: 100px
    height 100%
    background-image url("/images/bobro.svg")
    background-position center 0
    background-repeat no-repeat
    background-size 105%
    z-index: 999999
    @media only screen and (max-width: 992px)
      background-size 95%

#body,
.wrapper,
.index-title
  display flex
  flex-direction column
  flex-grow 1
  flex-shrink 0
  width 100%

.index-title
  position relative
  height: calc(100vh - 56px)
  overflow hidden
  @media only screen and (min-width: 601px)
    height: calc(100vh - 64px)
  &__mask
    position absolute
    width 100%
    height 100%
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%;
    z-index 1
  &__video-wrap
    html:not(.mobile) &
      overflow hidden
  &__video
    height 100%
    background-size: 100% 2px, 3px 100%;
    canvas
      background-color #000
  &__content
    position absolute
    top: 50%;
    left 50%
    transform translate(-50%, -50%)

.error-name {
  margin 0
  font-family 'Roboto'
  font-size 180px
  font-weight bold
}

.error-desc {
  margin 0
  font-family 'Roboto'
  font-size: 20px
}

// temp!!!
.space-block
  width 100%;
  height: 300px;
